<ion-header>
  <ion-toolbar>
    <ion-title>
      Favorite Quotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor= "let quote of quotes">
        <ion-card>
          
              <p style="padding:26px;" text-wrap>{{ quote.text }}</p>
              <h2 class="quoteTitle">{{ quote.person }}</h2>
             
              <div style="padding: 26px; text-align:right;">
                <ion-button
                fill="clear"
                size="small">Unfavorite</ion-button>
              </div>
        </ion-card>
  </ion-list>
</ion-content>
